.AddTodoForm{
    display:flex;
    flex-wrap:wrap;
    margin-top: 10px;
}
.AddTodoForm input{
    background-color:#f7f1f1;border:none;flex-grow:1;font-size:medium;
    padding:0 1.5em;
}
.AddTodoForm button{
    background-color:#8e0e00;border:none;border:1px solid hsla(0,0%,100%,.3);color:#fff;
    cursor:pointer;
    font-weight:700;margin-left:5px;
    padding:0 1.3rem;text-transform:uppercase;transition:background 0.2s ease-out;
}
.AddTodoForm button:hover{
    background-color:#a01809
}
.AddTodoForm button,
.AddTodoForm input{
    font-family:Quicksand,sans-serif;
    height:3rem
}