*{
  box-sizing:border-box;margin:0;
  padding:0
}

body,html{
background:#8e0e00;background:linear-gradient(270deg,#1f1c18,#8e0e00);;;
font-family:Quicksand,sans-serif;
font-size:1.1rem;height:100%;
}

